*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(13,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.head 
{
    text-align: center;
}

.head h1{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.head a
{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 14px 70px;
    margin-top: 25px;
}