body{
    background-color: grey;
}
button {
    background-color: white;

    font-family: IBM Plex Mono;
    font-size: 700;
    text-transform: uppercase;

    padding: 12px 18px;

    border-radius: 4px;
    border: solid 2px #121212;
    box-shadow: 4px 4px #121212;
    transition: transform 50ms;
        box-shadow: 50ms;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #121212;
}

img {

    width: 100%;
    
  }
div{
    background-color: white;
    width: 700px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
   margin-left: 350px;
   font-family: sans-serif;
 
}

.journalist{
    font-family: sans-serif;
}

#itgirls{
  color: orangered;  

}

#resultat1 {
    display: inline;
    width: 20%;
}

#resultat2 {
    display: inline;
    width: 20%;
}

#date {
    display: inline;
}

#itgirls {
    display:inline;
}

footer {
    background-color: rgb(255,129,0);
    padding-bottom: 20px;
    padding: 3px;
}

header { 
    background-color: rgb(255,129,0);
    padding: 20px;
}

#bodyPageb {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}

h2{
    font-size: 40px;
}
h3 {
    font-size: 25px;
}

main {
    margin-left: 80px;
}